.container {
    margin: auto;
    width: 50%;
}

h1 {
    font-weight: bolder;
}

body {
    background-color: dimgray;
    color: white;
}

img {
    width: 790px;
    height: 500px;
}
.cropped {
    object-fit: cover;
}